html {
    font-size: 40px;
}

body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: lightblue;
}

.display {
    width: 12.8rem;
    height: 3rem;
    background-color: black;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    font-family: monospace;
    text-align: right;
    border-radius: 10px;
}

.panel {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 12rem;
    gap: 0.2rem;
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-evenly;
    padding: 0.4rem;
}

button {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    font-size: inherit;
    font-weight: bold;
    border-radius: 10px;
}

.clear,
.backspace {
    background-color: red;
    color: white;
}

.operator,
.sign,
.operate,
.decimal {
    background-color: rgb(54, 46, 46);
    color: white;
}